{% extends "base.html" %}
	{% block content %}	
	<h1>{{title}}</h1>
	<form method="post">
		<table>
			<tr>
				<td>
					<label for="username">User Name:</label>
				</td>
				<td>
					<input name="username" type="text" size="24" maxlength="24" value="{{request.form['username']}}" />	
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password:</label>
				</td>
				<td>
					<input name="password" type="password" size="24" maxlength="24"/>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/signup">New Account</a>
				</td>
				<td>
					<input style="float: right;" type="submit" value="Log In" />
				</td>
			</tr>
		</table>
	</form>
	{% endblock %}